<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= @config[:title] %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css" integrity="sha256-D9M5yrVDqFlla7nlELDaYZIpXfFWDytQtiV+TaH6F1I=" crossorigin="anonymous" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <sections class="hero is-primary is-medium is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1"><a href="/"><%= @config[:title] %></a></h1>
          <p class="subtitle"><%= @config[:subtitle] %></p>
        </div>
      </div>
    </sections>

    <main class="section">
      <div class="container">
        <div class="columns">
          <div class="column">

<%= render(@template, assigns) %>

          </div>
          <div class="column is-one-fifth">
          </div>
        </div>


      </div>
    </main>
  </body>
</html>