<%= if @pages > 1 do %>
<nav class="pagination is-small" role="navigation" aria-label="pagination">
    <%= if @page > 1 do %><a class="pagination-previous" href="/?page=<%= @page - 1 %>">Previous</a><% end %>
    <%= if @page < @pages do %><a class="pagination-next" href="/?page=<%= @page + 1 %>">Next page</a><% end %>
    <ul class="pagination-list">
    <%= if @page > 2 do %><li><a class="pagination-link" aria-label="Goto page 1" href="/?page=<%= 1 %>">1</a></li><% end %>
    <%= if @page > 3 do %><li><span class="pagination-ellipsis">&hellip;</span></li><% end %>
    <%= if @page > 1 do %><li><a class="pagination-link" aria-label="Goto page <%= @page - 1 %>" href="?page=<%= @page - 1 %>"><%= @page - 1 %></a></li><% end %>
    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page" href="/?page=<%= @page %>"><%= @page %></a></li>
    <%= if @page < @pages - 1 do %><li><a class="pagination-link" aria-label="Goto page 47" href="?page=<%= @page + 1 %>"><%= @page + 1 %></a></li><% end %>
    <%= if @page < @pages - 2 do %><li><span class="pagination-ellipsis">&hellip;</span></li><% end %>
    <%= if @page < @pages do %><li><a class="pagination-link" aria-label="Goto page <%= @pages %>" href="?page=<%= @pages %>"><%= @pages %></a></li><% end %>
    </ul>
</nav>
<% end %>