<h1 class="title is-2"><a href="/<%= @post.date.year %>/<%= @post.date.month %>/<%= @post.slug %>"><%= @post.title %></a></h1>
<div class="content">
    <%= for tag <- @post.categories do %>
    <span class="tag is-primary"><a class="is-link" href="/tag/<%= tag %>"><%= tag %></a></span>
    <% end %>
</div>
<div class="content">
<%= @post.content %>
</div>
